<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 <meta name="copyright" content="DouCo Co.,Ltd." />
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <meta name="csrf-token" content="{$csrf_token}">
 <title>{$lang.home}{if $ur_here} - {$ur_here} {/if}</title>
 <link href="{$site.root_url}favicon.ico" rel="shortcut icon" type="image/x-icon" />
 <link href="css/bootstrap-icons.css" rel="stylesheet" type="text/css">
 <link href="css/common.css" rel="stylesheet" type="text/css">
 <link href="css/ai.css" rel="stylesheet" type="text/css">
 {include file="inc/javascript.tpl"}
</head>

<body>
 <div id="dou"> {include file="inc/header.tpl"}
  {include file="inc/sidebar.tpl"}
  <div id="dou-content"> {include file="inc/toolbar.tpl"}
   <div class="dou-main has-subnav">
    {include file="inc/ai_sub_menu.tpl"}
    <div id="ai" class="dou-page">
      <!-- {if $rec eq 'default'} 日志列表 -->
      {include file="inc/page_header.tpl"}
      <div class="filter">
       <form action="{url link='admin.ai.log'}" method="get" onsubmit="return hideEmpty(this)">
        <input name="admin_id" type="text" class="input" value="{$req.admin_id}" size="8" placeholder="{$lang.ai_log_admin_id}" />
        <select name="provider_id" class="select">
         <option value="">{$lang.ai_log_provider}</option>
         <!-- {foreach from=$provider_list item=provider} -->
         <option value="{$provider.id}" {if $req.provider_id eq $provider.id}selected{/if}>{$provider.name}</option>
         <!-- {/foreach} -->
        </select>
        <select name="model_id" class="select">
         <option value="">{$lang.ai_log_model}</option>
         <!-- {foreach from=$model_list item=model} -->
         <option value="{$model.id}" {if $req.model_id eq $model.id}selected{/if}>{$model.name}</option>
         <!-- {/foreach} -->
        </select>
        <select name="has_error" class="select">
         <option value="">{$lang.ai_log_has_error}</option>
         <option value="0" {if $req.has_error eq '0' && $req.has_error neq ''}selected{/if}>{$lang.ai_log_has_error_0}</option>
         <option value="1" {if $req.has_error eq '1'}selected{/if}>{$lang.ai_log_has_error_1}</option>
        </select>
        <script type="text/javascript" src="js/laydate/laydate.js"></script>
        <input type="text" id="time_start" name="time_start" value="{$req.time_start}" class="input" size="12" placeholder="{$lang.time_start}" autocomplete="off" />
        <input type="text" id="time_end" name="time_end" value="{$req.time_end}" class="input" size="12" placeholder="{$lang.time_end}" autocomplete="off" />
        <script>
        {literal}
        laydate.render({
          elem: '#time_start',
          type: 'datetime'
        });
        laydate.render({
          elem: '#time_end',
          type: 'datetime'
        });
        {/literal}
        </script>
        <input class="btn-secondary" type="submit" value="{$lang.btn_filter}" />
        <a class="btn-secondary" href="{url link='admin.ai.log'}">{$lang.btn_reset}</a>
       </form>
      </div>
      <div id="list">
       <form name="action" method="post" action="{url link='admin.ai.log.action'}">
        <input type="hidden" name="token" value="{$token}" />
        <table class="table">
         <tr>
          <th width="22" class="text-center"><input name='chkall' type='checkbox' id='chkall' onclick='selectcheckbox(this.form)' value='check'></th>
          <th class="m-none text-center" width="50">{$lang.record_id}</th>
          <th class="text-left">{$lang.ai_log_admin}</th>
          <th class="m-none text-center" width="100">{$lang.ai_log_app}</th>
          <th class="m-none text-center">{$lang.ai_log_provider}</th>
          <th class="text-center">{$lang.ai_log_model}</th>
          <th class="m-none text-center" width="80">{$lang.ai_log_total_tokens}</th>
          <th class="m-none text-center" width="60">{$lang.ai_log_duration}</th>
          <th width="60" class="text-center">{$lang.ai_log_has_error}</th>
          <th class="m-none text-center" width="130">{$lang.ai_log_created_at}</th>
          <th width="80" class="text-center">{$lang.handler}</th>
         </tr>
         <!-- {foreach from=$log_list item=log} -->
         <tr>
          <td class="text-center"><input type="checkbox" name="checkbox[]" value="{$log.id}" /></td>
          <td class="m-none text-center">{$log.id}</td>
          <td>{$log.admin_name}</td>
          <td class="m-none text-center">{$log.app_name}</td>
          <td class="m-none text-center">{$log.provider_name}</td>
          <td class="text-center">{$log.model_name}</td>
          <td class="m-none text-center">{$log.total_tokens}</td>
          <td class="m-none text-center">{$log.duration}ms</td>
          <td class="text-center">
           {if $log.has_error.value eq 1}
           <span class="danger">{$log.has_error.format}</span>
           {else}
           <span class="success">{$log.has_error.format}</span>
           {/if}
          </td>
          <td class="m-none text-center">{$log.created_at}</td>
          <td class="text-center"><a href="{url link='admin.ai.log.show' id=$log.id}">{$lang.view}</a> | <a href="javascript:;" class="js-delete" data-url="{url link='admin.ai.log.destroy' id=$log.id}">{$lang.del}</a></td>
         </tr>
         <!-- {/foreach} -->
        </table>
        <div class="action">
         <select class="select" name="action">
          <option value="0">{$lang.select}</option>
          <option value="del_all">{$lang.del}</option>
         </select>
         <input class="btn" type="submit" value="{$lang.btn_execute}" />
        </div>
       </form>
      </div>
      <div class="clear"></div>
      {include file="inc/pager.tpl"}
      <!-- {/if} -->
      <!-- {if $rec eq 'show'} 日志详情 -->
      {include file="inc/page_header.tpl"}
      <div class="view">
       <h4>{$lang.ai_log_basic_info}</h4>
       <table class="table">
        <tr>
         <td width="120">{$lang.ai_log_admin}：</td>
         <td>{$log.admin_name}</td>
         <td width="120">{$lang.ai_log_created_at}：</td>
         <td>{$log.created_at}</td>
        </tr>
        <tr>
         <td>{$lang.ai_log_provider}：</td>
         <td>{$log.provider_name}</td>
         <td>{$lang.ai_log_model}：</td>
         <td>{$log.model_name}</td>
        </tr>
        <tr>
         <td>{$lang.ai_log_key}：</td>
         <td>{$log.key_alias}</td>
         <td>{$lang.ai_log_app}：</td>
         <td>{$log.app_name}</td>
        </tr>
        <tr>
         <td>{$lang.ai_log_has_error}：</td>
         <td>
          {if $log.has_error}
          <span class="danger">{$log.has_error_format}</span>
          {else}
          <span class="success">{$log.has_error_format}</span>
          {/if}
         </td>
         <td>{$lang.ai_log_status_code}：</td>
         <td>{$log.status_code}</td>
        </tr>
        <!-- {if $log.error_message} -->
        <tr>
         <td>{$lang.ai_log_error_message}：</td>
         <td colspan="3"><span class="danger">{$log.error_message}</span></td>
        </tr>
        <!-- {/if} -->
       </table>
       <h4>{$lang.ai_log_token_info}</h4>
       <table class="table">
        <tr>
         <td width="120">{$lang.ai_log_prompt_tokens}：</td>
         <td>{$log.prompt_tokens}</td>
         <td width="120">{$lang.ai_log_completion_tokens}：</td>
         <td>{$log.completion_tokens}</td>
        </tr>
        <tr>
         <td>{$lang.ai_log_total_tokens}：</td>
         <td>{$log.total_tokens}</td>
         <td>{$lang.ai_log_duration}：</td>
         <td>{$log.duration} {$lang.ai_log_duration_ms}</td>
        </tr>
       </table>
       <h4>{$lang.ai_log_request_info}</h4>
       <table class="table">
        <tr>
         <td width="120">{$lang.ai_log_request_id}：</td>
         <td>{$log.request_id}</td>
         <td width="120">{$lang.ai_log_endpoint}：</td>
         <td>{$log.endpoint}</td>
        </tr>
        <tr>
         <td>{$lang.ai_log_ip_address}：</td>
         <td colspan="3">{$log.ip}</td>
        </tr>
        <!-- {if $log.metadata_formatted} -->
        <tr>
         <td class="v-top">{$lang.ai_log_metadata}：</td>
         <td colspan="3"><pre class="code">{$log.metadata_formatted}</pre></td>
        </tr>
        <!-- {/if} -->
        <!-- {if $log.prompt_content} -->
        <tr>
         <td class="v-top">{$lang.ai_log_prompt_content}：</td>
         <td colspan="3"><pre class="code">{$log.prompt_content}</pre></td>
        </tr>
        <!-- {/if} -->
        <!-- {if $log.response_content_formatted} -->
        <tr>
         <td class="v-top">{$lang.ai_log_response_content}：</td>
         <td colspan="3"><pre class="code">{$log.response_content_formatted}</pre></td>
        </tr>
        <!-- {/if} -->
       </table>
      </div>
      <!-- {/if} -->
     </div>

   </div>
  </div>
  {include file="inc/footer.tpl"}
 </div>
</body>

</html>

